In [123]:
import yfinance as yf
import pandas as pd

In [124]:
empresas = ['AMER3', 'MGLU3', 'PETR4']

In [125]:
def getCsv(empresa):
    dados = pd.read_csv(empresa + '.csv', index_col='Unnamed: 0', parse_dates=[['data', 'hora']], dayfirst=True)
    # dados.data = pd.to_datetime(dados.data, dayfirst=True)
    return dados

In [127]:
amercsv = getCsv('AMER3')
amercsv.head()

,data_hora,titulo,texto
0,2023-09-18 22:21:00,Americanas rebate acusações do Bradesco em nov...,['A Americanas (BVMF:AMER3) protocolou nesta 2...
1,2023-09-18 07:59:00,CPIs do Congresso Nacional entram em reta fina...,['As CPIs (Comissões Parlamentares de Inquérit...
2,2023-09-18 10:30:00,"Ações: Braskem, IRB e Azul lideram altas do Ib...","['Investing.com — O Ibovespa subia 0,18% às 10..."
3,2023-09-14 09:21:00,Abertura de mercado: o que esperar do Ibovespa...,['Investing.com – Os mercados aguardam novos d...
4,2023-09-13 16:23:00,Bradesco afirma ter total interesse no sucesso...,['O Bradesco (BVMF:BBDC4) informou nesta quart...

In [128]:
amercsv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data_hora  50 non-null     datetime64[ns]
 1   titulo     50 non-null     object
 2   texto      50 non-null     object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.6+ KB

In [129]:
amercsv['data_hora'].max(), amercsv['data_hora'].min()

(Timestamp('2023-09-18 22:21:00'), Timestamp('2023-08-15 16:33:00'))

In [130]:
magalucsv = getCsv('MGLU3')
magalucsv.head()

,data_hora,titulo,texto
0,2023-09-18 18:04:00,Janja e ministras participam de encontro de mu...,['A primeira-dama Janja Lula da Silva particip...
1,2023-09-18 14:44:00,"À espera de Copom e Fed, Ibovespa inicia seman...",['O Ibovespa perdeu força e não conseguiu sust...
2,2023-09-15 14:10:00,Fortuna de bilionários brasileiros equivale a ...,['O patrimônio dos 280 bilionários brasileiros...
3,2023-09-14 11:49:00,Ibovespa avança com exterior ajudando Vale e P...,"['Por Paula Arend Laier', 'SÃO PAULO (Reuters)..."
4,2023-09-14 10:29:00,"Ações: Bradespar, CSN e Vale lideram altas do ...","['Investing.com — O Ibovespa subia 0,86% às 10..."

In [131]:
magalucsv['data_hora'].max(), magalucsv['data_hora'].min()

(Timestamp('2023-09-18 18:04:00'), Timestamp('2023-08-02 14:49:00'))

In [132]:
petrocsv = getCsv('PETR4')
petrocsv.head()

,data_hora,titulo,texto
0,2023-09-19 15:34:00,Investidores estrangeiros querem entender marc...,"['O ministro da Fazenda, Fernando Haddad, diss..."
1,2023-09-19 14:37:00,Petrobras contrata sonda de perfuração da Fore...,['RIO DE JANEIRO (Reuters) - A Petrobras (BVMF...
2,2023-09-19 12:35:00,Programa da Petrobras de crédito a fornecedore...,"['Por Marta Nogueira', 'RIO DE JANEIRO (Reuter..."
3,2023-09-19 11:10:00,Ibovespa tem variações modestas em clima de ex...,"['Por Paula Arend Laier', 'SÃO PAULO (Reuters)..."
4,2023-09-19 08:28:00,Ibovespa tem instabildiade antes de Fed e Copo...,['A alta do petróleo no exterior e o aumento a...

In [133]:
petrocsv['data_hora'].max(), petrocsv['data_hora'].min()

(Timestamp('2023-09-19 15:34:00'), Timestamp('2023-09-14 10:11:00'))

In [144]:
def getIntervalos():
    dataMax = max(petrocsv['data_hora'].max(), amercsv['data_hora'].max(), magalucsv['data_hora'].max())
    dataMin = min(petrocsv['data_hora'].min(), amercsv['data_hora'].min(), magalucsv['data_hora'].min())

    intervalo = pd.date_range(start=dataMin, end=dataMax, freq='7D')
    return dataMin, dataMax, intervalo.to_list()

In [145]:
dataMin, dataMasx, intervalos = getIntervalos()

In [146]:
dataMin, dataMax, intervalos

(Timestamp('2023-08-02 14:49:00'),
 Timestamp('2023-09-19 15:34:00'),
 [Timestamp('2023-08-02 14:49:00'),
  Timestamp('2023-08-09 14:49:00'),
  Timestamp('2023-08-16 14:49:00'),
  Timestamp('2023-08-23 14:49:00'),
  Timestamp('2023-08-30 14:49:00'),
  Timestamp('2023-09-06 14:49:00'),
  Timestamp('2023-09-13 14:49:00')])

In [147]:
# amer = yf.download('AMER3.SA', start=dataMin, end=dataMax)

[*********************100%%**********************]  1 of 1 completed

In [156]:
amer = yf.Ticker('AMER3.SA')
amer.history(start=intervalos[0], end=intervalos[1], interval='5m')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-08-02 14:45:00-03:00,1.11,1.12,1.11,1.11,0,0.0,0.0
2023-08-02 14:50:00-03:00,1.11,1.12,1.11,1.11,196100,0.0,0.0
2023-08-02 14:55:00-03:00,1.11,1.12,1.11,1.11,23300,0.0,0.0
2023-08-02 15:00:00-03:00,1.11,1.12,1.11,1.11,109900,0.0,0.0
2023-08-02 15:05:00-03:00,1.12,1.12,1.11,1.11,19000,0.0,0.0
...,...,...,...,...,...,...,...
2023-08-09 14:25:00-03:00,1.09,1.09,1.09,1.09,0,0.0,0.0
2023-08-09 14:30:00-03:00,1.10,1.10,1.09,1.09,4900,0.0,0.0
2023-08-09 14:35:00-03:00,1.10,1.10,1.09,1.09,17600,0.0,0.0
2023-08-09 14:40:00-03:00,1.09,1.09,1.09,1.09,12700,0.0,0.0
2023-08-09 14:45:00-03:00,1.10,1.10,1.09,1.09,17800,0.0,0.0

In [163]:
# encontrar o valor da ação mais próximo da data de cada linha do csv
# para cada linha do csv, encontrar o valor da ação mais próximo da data


amer.history(start=intervalos[0], end=intervalos[1], interval='5m').index

DatetimeIndex(['2023-08-02 14:45:00-03:00', '2023-08-02 14:50:00-03:00',
               '2023-08-02 14:55:00-03:00', '2023-08-02 15:00:00-03:00',
               '2023-08-02 15:05:00-03:00', '2023-08-02 15:10:00-03:00',
               '2023-08-02 15:15:00-03:00', '2023-08-02 15:20:00-03:00',
               '2023-08-02 15:25:00-03:00', '2023-08-02 15:30:00-03:00',
               ...
               '2023-08-09 14:00:00-03:00', '2023-08-09 14:05:00-03:00',
               '2023-08-09 14:10:00-03:00', '2023-08-09 14:15:00-03:00',
               '2023-08-09 14:20:00-03:00', '2023-08-09 14:25:00-03:00',
               '2023-08-09 14:30:00-03:00', '2023-08-09 14:35:00-03:00',
               '2023-08-09 14:40:00-03:00', '2023-08-09 14:45:00-03:00'],
              dtype='datetime64[ns, America/Sao_Paulo]', name='Datetime', length=416, freq=None)